{% extends "base.html" %}

{% load i18n %}

{% block title %}Logout{%endblock %}

{% block content %}
<article class="section">
	<div class="container">
		<h2>Toegang is aangevraagd</h2>
		<p>De toegang is aangevraagd. Het is nu wachten tot een akkoord van de beheerder.</p>
	</div>
</article>
{% endblock %}
