/* bootstrap overrides */
body {
	// font-family: "Meta Web", sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-webkit-text-size-adjust:100%;
	// font-size: 98%;
	// font-size: 1.125em;
	line-height: 1.625;
	overflow: scroll;
}

h5 {
	font-weight: bold;
}

a {
	color: #255488;
}

a:hover {
	color: #154273;
}

.bg-dark {
	background-color: #255488 !important;
}

.bg-white {
	background-color: #fff;
}

/* header */
.header {
	position: relative;
}

.header__logo-img {
	padding: 0 0 10px 0;
}

.header__brand {
	font-weight: bold;
	font-size: 1.625rem;
	color: #255488;
	padding: 13px 0 0 20px;
}

.header__brand-link:hover {
	text-decoration: none;
}

.header__top-container {
	display: flex;
	align-items: center;
}

/* sections */
.section {
	position: relative;
	padding: 60px 0;
}

.section--subnavigation {
	background-color: #f3f3f3;
	padding: 30px 0;
}

.section--navigation {
	background-color: #0095C9;
}

.section--image {
	min-height: 180px;
	overflow: hidden;
}

@media (min-width: 992px) {
	.section--image {
		min-height: 480px;
	}
}

.section--pull {
	margin-top: -280px;
}

.section__bg-img {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	background-position: center center;
	background-size: cover;
	z-index: -1;
}

/* footer */
.footer {
	position: relative;
	padding: 20px 0;
	background-color: #0095C9;
}

.footer__link {
	color: #000;
}

.footer__link:hover {
	color: #000;
}

/* nav-dbgb */
.navbar-dbgb {
	padding: 0;
}

.nav-dbgb {
	font-size: 1.625rem;
	letter-spacing: .03rem;
}

.nav-dbgb .nav-item .nav-link {
	padding-right: 20px;
	padding-left: 20px;
}

.nav-dbgb .nav-item .nav-link {
	position: relative;
	display: inline-block;
}

@media (min-width: 992px) {

	.nav-dbgb .nav-item:first-child .nav-link {
		padding-left: 0;
	}
}

/* breadcrumbs */
.crumb {
	list-style: none;
	padding: 6px 0;
	margin: 0;
	color: #fff;
	font-size: 1.625rem;
	letter-spacing: .03rem;
}

.crumb__item {
	float: left;
	font-weight: normal;
}

.crumb__item.is-active {
	font-weight: bold;
}

.crumb__link {
	color: #fff;
	padding-right: 10px;
}

.crumb__item:not(:last-child) .crumb__link::after {
	font-weight: normal;
	font-family: "RO Icons";
	display: inline-block;
	vertical-align: middle;
	content: "";
	speak: none;
	vertical-align: middle;
	margin-left: 8px;
	font-size: 1.2rem;
	line-height: 1em;
}

.crumb__link:hover {
	color: #fff;
	text-decoration: none;
}

/* boxes */
.box {
	padding: 20px;
}

.box--white {
	background-color: #fff;
}

/* icons */
.icon {
	display: inline-block;
}

.icon:before {
	font-weight: normal;
	font-family: "RO Icons";
	font-size: 1rem;
	display: inline-block;
	vertical-align: middle;
	speak: none;
}
.icon--popup:before {
	content: "";
}

@media (min-width: 992px) {
	.box {
		width: 50%;
	}
}

/* nav-block */
.nav-block {
	position: relative;
	display: block;
	color: #000;
	padding: 0 0 30px 0;
}

a.nav-block:hover {
	text-decoration: none;
}

.nav-block__title {
	color: #000;
	font-size: 1.45em;
	line-height: 1.2em;
	font-weight: bold;
}

a:active .nav-block__title,
a:visited .nav-block__title,
a:hover .nav-block__title {
	text-decoration: underline;
}

.nav-block__description {
	color: #000;
}

a:active .nav-block__description,
a:visited .nav-block__description,
a:hover .nav-block__description {
	text-decoration: none;
}

@media (min-width: 1200px) {
	.container {
    max-width: 1200px;
	}
}

.sidebar {
	background-color: #f3f3f3;
	padding: 10px;
}

.sidebar--main {
	padding: 60px 10px;
}

.textarea {
	overflow-y: auto;
  word-wrap: normal;
	white-space: pre-wrap;
	color: #212529;
	padding: 10px;
	border-bottom: 1px solid #ced4da;
	background-color: #f3f3f3;
	display: block;
	max-height: 500px;
}

.textarea--small {
	max-height: 200px;
}

.textarea--full {
	max-height: 100%;
}

.float--right {
	float: right;
}

.modal--full {
	min-width: 100%;
	margin: 0;
}

.modal--full .modal-content {
	min-height: 100vh;
	border-radius: 0;
	border: 0;
}
