@font-face {
	font-family:"Meta Web";
	font-style:normal;
	font-weight:normal;
	src: url("../fonts/meta.woff") format("woff"),
		url("../fonts/meta.ttf") format("truetype")
}

@font-face {
	font-family:"Meta Web";
	font-style:normal;
	font-weight:bold;
	src: url("../fonts/meta-bold.woff") format("woff"),
		url("../fonts/meta-bold.ttf") format("truetype")
}

@font-face {
	font-family:"Meta Web";
	font-style:italic;
	font-weight:normal;
	src: url("../fonts/meta-italic.woff") format("woff"),
		url("../fonts/meta-italic.ttf") format("truetype")
}

@font-face {
	font-family: "RO Icons";
	font-style: normal;
	src: url("../fonts/ro-icons-1.7.woff") format("woff"),
		url("../fonts/ro-icons-1.7.ttf") format("truetype");
}
