<div class="table-responsive">
<table class="table">
<thead>
	<tr>
		<th scope="col">Contract</th>
		<th scope="col">Soort levering</th>
		<th scope="col">Frequentie</th>
	</tr>
</thead>
<tbody>
{% for item in data %}
	<tr>
		<td scope="row">{{ item.contract_type }} ({{ item.contract_number }})</td>
		<td>{{ item.delivery_type }}</td>
		<td>{{ item.frequency }}</td>
	</tr>
{% endfor %}
</tbody>
</table>
</div>
