<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link nav-link--dark {% if request.resolver_match.url_name == "manage_consumer" %}active{% endif %}" href="{% url 'manage_consumer' consumer.id %}" role="tab">Algemeen</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link--dark {% if request.resolver_match.url_name == "manage_consumer_data" or request.resolver_match.url_name == "manage_consumer_data_detail" %}active{% endif %}"  href="{% url 'manage_consumer_data' consumer.id %}" role="tab">Gegevens</a>
    </li>
    {% if new_count > 0 %}
    <li class="nav-item">
        <a class="nav-link nav-link--dark {% if request.resolver_match.url_name == "manage_consumer_data_new" %}active{% endif %}"  href="{% url 'manage_consumer_data_new' consumer.id %}" role="tab"><strong>Nieuw ({{ new_count }})</strong></a>
    </li>
    {% endif %}
</ul>