{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="section">
	<div class="container">
		<h2>Tijdelijk offline voor onderhoud</h2>
		<p>Database gegevensbelang zal in januari 2025 weer beschikbaar zijn.</p>
	</div>
</section>
{% endblock %}
