{% extends "base.html" %}
{% load static %}

{% block breadcrumb %}
<ul class="crumb">
	<li class="crumb__item"><a href="/" class="crumb__link">Home</a></li>
	<li class="crumb__item"><a href="/account" class="crumb__link">Account</a></li>
</ul>
{% endblock %}

{% block content %}
<article class="section">
	<div class="container">
		<h1>Account</h1>
		<p>De onderstaande PLEIO accountgegevens zijn bij ons bekend:</p>
		<p>
			Naam: {{ request.user.name }}<br>
			E-mail: {{ request.user.email }}<br>
			PLEIO-ID: {{ request.user.external_id }}
		</p>

		{% if consumers|length > 0 %}
			<h2>Afnemer Beheer</h2>
			<p>Je bent beheerder van één of meerdere afnemers. Klik op een afnemer om gegevens te wijzigen.</p>
			<ul>
			{% for item in consumers %}
				<li><a href="{% url 'manage_consumer' item.id %}">{{ item }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}

		{% if request.user.is_admin %}
			<h2>Beheer</h2>
			<p>Je bent beheerder van deze applicatie. Via onderstaande link kan je naar de beheer omgeving.</p>
			<ul>
				<li><a href="/admin">Admin</a></li>
			</ul>
		{% endif %}

		<a href="/logout" class="btn btn-primary">Uitloggen</a>
	</div>
</article>
{% endblock %}
