{% load static %}
{% load render_bundle from webpack_loader %}
<!doctype html>
<html lang="nl">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Database Gegevensbelang 2025</title>
	<link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon"/>
	{% render_bundle 'app' 'css' %}
	<!-- Matomo -->
	<script type="text/javascript">
		var _paq = _paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="https://stats.pleio.nl/";
			_paq.push(['setTrackerUrl', u+'piwik.php']);
			_paq.push(['setSiteId', '8013']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		})();
	</script>
	<!-- End Matomo Code -->
</head>

<body>
	<header class="header">

		<div class="container header__top-container d-none d-sm-flex">
			<div class="header__logo">
				<a href="https://www.loonaangifteketen.nl/" class="header__logo-link" target="blank"><img src="{% static "images/logo-loonaangifteketen-desktop.svg" %}" alt="Loonaangifteketen" class="header__logo-img"></a>
			</div>
			<div class="header__brand">
				<a href="/" class="header__brand-link">Database Gegevensbelang 2025</a>
			</div>
		</div>

		<nav class="navbar navbar-dbgb navbar-dark bg-dark flex-md-nowrap navbar-expand-sm">
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto nav-dbgb">
						<li class="nav-item  {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
							<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
						</li>
						{% if request.resolver_match.url_name != 'home' %}
						<li class="nav-item {% if 'data' in request.resolver_match.url_name %}active{% endif %}">
							<a class="nav-link" href="/data">Gegevens</a>
						</li>
						<li class="nav-item {% if 'consumer' in request.resolver_match.url_name %}active{% endif %}">
							<a class="nav-link" href="/consumer">Afnemers</a>
						</li>
						<li class="nav-item {% if request.resolver_match.url_name == 'documents' %}active{% endif %}">
							<a class="nav-link" href="/documents">Documenten</a>
						</li>
						{% endif %}
					</ul>

					<div class="header__top-menu">
						<ul class="navbar-nav">
							<li class="nav-item text-nowrap">
								{% if request.user.is_authenticated %}
								<a class="nav-link" href="/account">{{ request.user.name }}</a>
								{% else %}
								<a class="nav-link" href="/login">Inloggen</a>
								{% endif %}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<main role="main">
		{% if messages %}
		<div class="messages">
			{% for message in messages %}
			<div class="alert alert-info alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% endfor %}
		</div>
		{% endif %}
		{% block content %}{% endblock %}
	</main>

	<footer class="section section--navigation">
		<div class="container">
			{% block footer %}
			<div class="row justify-content-end">
				<div class="col-sm-3 ">
					<h3>Over deze site</h3>
					<a href="/rules" class="footer__link">Spelregels</a>
				</div>
			</div>
			{% endblock %}
		</div>
	</footer>

    <script>
		(function(d,t) {
		  var BASE_URL="http://localhost:3000";
		  var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		  g.src=BASE_URL+"/packs/js/sdk.js";
		  g.defer = true;
		  g.async = true;
		  s.parentNode.insertBefore(g,s);
		  g.onload=function(){
			window.chatwootSDK.run({
			  websiteToken: 'VtJpQJT7m6Au9PRwT7Fpx2nz',
			  baseUrl: BASE_URL
			})
		  }
		})(document,"script");
	  </script>
	  
	{% render_bundle 'app' 'js' %}
</body>
</html>
