{% extends "base.html" %}
{% load static %}

{% block breadcrumb %}
<ul class="crumb">
	<li class="crumb__item"><a href="/" class="crumb__link">Home</a></li>
	<li class="crumb__item is-active"><a href="/consumer" class="crumb__link">Afnemers</a></li>
</ul>
{% endblock %}

{% block content %}
<section class="section section--image">
	<div class="container"></div>
	<div class="section__bg-img" style="background-image: url({% static 'images/Afnemers_hor1600px.jpg' %})"></div>
</section>
<article class="section">
	<div class="container">
		<h1>Afnemers</h1>

		<div class="list-group list-group-flush">
		{% for item in consumers %}
			<a href="{% url 'consumer_detail' item.id %}" class="list-group-item list-group-item-action">
				{{ item }}
			</a>
		{% endfor %}
		</div>
	</div>
</article>
{% endblock%}
