{% extends "base.html" %}
{% load static %}

{% block breadcrumb %}
<ul class="crumb">
	<li class="crumb__item"><a href="/" class="crumb__link">Home</a></li>
	<li class="crumb__item"><a href="/consumer" class="crumb__link">Afnemers</a></li>
	<li class="crumb__item is-active"><a href="{{ request.get_full_path }}" class="crumb__link">{{ consumer.name }}</a></li>
</ul>
{% endblock %}

{% block content %}
<article class="section">
	<div class="container">

		<div class="row">
			<div class="col-sm-8">
				<h1>
					{{ consumer }}
				</h1>
			</div>
			<div class="col-sm-4">
				{% if consumer.logo %}
				<img src="{{ consumer.logo.url }}" alt="{{ consumer.name }}" class="img-fluid" />
				{% endif %}
			</div>
		</div>

		<a class="btn btn-outline-secondary btn-sm mb-4" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
			Meer informatie
		</a>

		<div class="collapse" id="collapseExample">
			<div class="card card-body mb-4">
					{{ consumer.description|linebreaks }}
					<p>Website: <a href="{{ consumer.website }}" target="_blank">{{ consumer.website }}</a></p>
			</div>
		</div>

		<h3 class="mb-4 mt-4">Gebruik gegevens ({{ data|length }} in selectie)</h3>

		<div class="list-group list-group-flush mb-4">
		{% for item in data %}
			<a href="{% url 'data_detail' item.data.id %}" class="list-group-item list-group-item-action">{{ item.data.name }}</a>
		{% endfor %}
		</div>

		<h3 class="mb-4 mt-4">Levering</h3>
		{% if consumer.deliveries.all|length > 0 %}
			{% include "includes/delivery_table.html" with data=consumer.deliveries.all only %}
		{% else %}
			<p>-</p>
		{% endif %}

		<h3 class="mb-4 mt-4">Afnemer vanaf</h3>
		<p>{{ consumer.year }}</p>
	</div>
</article>
{% endblock%}
