{% extends "base.html" %}
{% load static %}

{% block breadcrumb %}
<ul class="crumb">
	<li class="crumb__item"><a href="/" class="crumb__link">Home</a></li>
	<li class="crumb__item is-active"><a href="/data" class="crumb__link">Gegevens</a></li>
</ul>
{% endblock %}

{% block content %}
<section class="section section--image">
	<div class="container"></div>
	<div class="section__bg-img" style="background-image: url({% static 'images/Gegevens_hor1600px.jpg' %})"></div>
</section>
<article class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 sidebar sidebar--main" id="search">
				<form method="GET" action="#search">
					<div class="form-group">
						<label for="q">{{ filter_form.q.label }}</label>
						{{ filter_form.q }}
					</div>

					<div class="form-group">
						<label for="cluster">{{ filter_form.cluster.label }}</label>
						{{ filter_form.cluster }}
					</div>

					<div class="form-group">
						<label for="year">{{ filter_form.year.label }}</label>
						{{ filter_form.year }}
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block">Filteren</button>
					</div>
				</form>
			</div>

			<div class="col-sm-9">
				<section class="section">
					{% if cluster_info %}
						<h2>{{ cluster_info.cluster.name }} ({{ data_selection|length }} in selectie)</h2>

						<h5>Condities voor de gehele gegevensgroep <a href="#conditionsModal" data-toggle="modal" data-target="#conditionsModal" class="icon icon--popup float--right"></a></h5>
						<div class="textarea mb-4">{{ cluster_info.conditions }}</div>

						<h5>Toelichting voor de (gehele) gegevensgroep <a href="#infoModal" data-toggle="modal" data-target="#infoModal" class="icon icon--popup float--right"></a></h5>
						<div class="textarea mb-4">{{ cluster_info.information }}</div>

					{% else %}
						<h2 class="mb-4">Gegevens ({{ data_selection|length }} in selectie)</h2>
					{% endif %}

					{% if data_selection|length > 0 %}
					<div class="list-group list-group-flush">
					{% for item in data_selection %}
						<a href="/data/{{ item.data.id }}" class="list-group-item list-group-item-action {% if selected.id == item.data.id %}active{% endif %}">{{ item.data.name }}</a>
					{% endfor %}
					</div>
					{% else %}
					<p>Geen gegevens gevonden met zoekterm "<strong>{{ filter_form.q.value }}</strong>" en cluster "<strong>{{ filter_form.cluster.value }}</strong>".</p>
					{% endif %}

					{% if cluster_info %}

					{% endif %}
				</section>
			</div>
		</div>
	</div>
</article>

{% if cluster_info %}
<div class="modal fade" id="conditionsModal" tabindex="-1" role="dialog" aria-labelledby="conditionsModal" aria-hidden="true">
	<div class="modal-dialog modal--full" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Condities voor de gehele gegevensgroep </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
					<div class="textarea textarea--full">{{ cluster_info.conditions }}</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModal" aria-hidden="true">
	<div class="modal-dialog modal--full" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Toelichting voor de (gehele) gegevensgroep</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
					<div class="textarea textarea--full">{{ cluster_info.information }}</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
