{% extends "base.html" %}
{% load static %}

{% block breadcrumb %}
<ul class="crumb">
	<li class="crumb__item"><a href="/" class="crumb__link">Home</a></li>
	<li class="crumb__item"><a href="/data" class="crumb__link">Gegevens</a></li>
	<li class="crumb__item is-active"><a href="{{ request.get_full_path }}" class="crumb__link">{{ data.name|truncatechars:40 }}</a></li>
</ul>
{% endblock %}

{% block content %}
<article class="section">
	<div class="container">
		<div class="d-sm-flex justify-content-between">
				<h1>{{ data.name}}</h1>
				<div>
					<form method="GET" action="" class="form-inline">
						<label for="year">Jaar:&nbsp;</label>
						<select id="year" name="year" class="form-control" onchange="this.form.submit()">
							{% for year in data_years %}
							<option {% if selected_year == year %}selected{% endif %}>{{ year }}</option>
							{% endfor %}
						</select>
					</form>
				</div>
		</div>

		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link nav-link--dark active" data-toggle="tab" href="#data" role="tab" aria-controls="data" aria-selected="true">Informatie</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-link--dark" data-toggle="tab" href="#afnemers" role="tab" aria-controls="afnemers" aria-selected="true">Afnemers</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-link--dark" data-toggle="tab" href="#leveringen" role="tab" aria-controls="leveringen" aria-selected="true">Leveringen</a>
			</li>
		</ul>

		<div class="tab-content" id="dataTabContent">
				<div class="tab-pane fade show active mt-4" id="data" role="tabpanel" aria-labelledby="data-tab">

					<h5>Omschrijving <a href="#descriptionModal" data-toggle="modal" data-target="#descriptionModal" class="icon icon--popup float--right"></a></h5>
					<div class="textarea mb-4">{{ data.description }}</div>

					{% if data_info %}

						<h5>Waardenbereik <a href="#waardenbereikModal" data-toggle="modal" data-target="#waardenbereikModal" class="icon icon--popup float--right"></a></h5>
						<div class="textarea mb-4">{{ data_info.value_range }}</div>

						<h5>Poortcontrole / Terugkoppelcontrole / Condities <a href="#conditionsModal" data-toggle="modal" data-target="#conditionsModal" class="icon icon--popup float--right"></a></h5>
						<div class="textarea mb-4">{{ data_info.value_conditions }}</div>

						<h5>Toelichting <a href="#infoModal" data-toggle="modal" data-target="#infoModal" class="icon icon--popup float--right"></a></h5>
						<div class="textarea mb-4">{{ data_info.information }}</div>

						{% if data_info.year == 2018 %}
							<p>Bron: <a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/gegevensspecificaties-aangifte-loonheffingen-2018" target="_blank">Gegevensspecificatie aangifte loonheffingen 2018</a></p>
						{% elif data_info.year == 2017 %}
							<p>Bron: <a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/gegevensspecificaties-aangifte-loonheffingen-2017" target="_blank">Gegevensspecificatie aangifte loonheffingen 2017</a></p>
						{% elif data_info.year == 2019 %}
							<p>Bron: <a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/gegevensspecificaties-aangifte-loonheffingen-2019" target="_blank">Gegevensspecificatie aangifte loonheffingen 2019</a></p>
						{% elif data_info.year == 2020 %}
							<p>Bron: <a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/gegevensspecificaties-aangifte-loonheffingen-2020" target="_blank">Gegevensspecificatie aangifte loonheffingen 2020</a></p>
						{% elif data_info.year == 2021 %}
							<p>Bron: <a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/gegevensspecificaties-aangifte-loonheffingen-2021" target="_blank">Gegevensspecificatie aangifte loonheffingen 2021</a></p>
						{% elif data_info.year == 2022 %}
							<p>Bron: <a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/gegevensspecificaties-aangifte-loonheffingen-2022" target="_blank">Gegevensspecificatie aangifte loonheffingen 2022</a></p>
						{% elif data_info.year == 2023 %}
							<p>Bron: <a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/gegevensspecificaties-aangifte-loonheffingen-2023" target="_blank">Gegevensspecificatie aangifte loonheffingen 2023</a></p>
						{% elif data_info.year == 2024 %}
							<p>Bron: <a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/gegevensspecificaties-aangifte-loonheffingen-2024" target="_blank">Gegevensspecificatie aangifte loonheffingen 2024</a></p>
						{% endif %}

					<!-- / end modals -->
					{% else %}
						<div class="alert alert-warning">
							Geen data voor <strong>{{ data.name }}</strong> in <strong>{{ selected_year }}</strong>.
						</div>
					{% endif %}
				</div>
				<div class="tab-pane fade show mt-4" id="afnemers" role="tabpanel" aria-labelledby="afnemers-tab">

						{% if consumers|length > 0 %}
						<div class="row">
							<div class="col-sm-3">
								<div class="sidebar">
									<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
										{% for item in consumers %}
											<a href="#consumer-{{ item.consumer.id }}" class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab">{{ item.consumer }}</a>
										{% endfor %}
									</div>
								</div>
							</div>
							<div class="col-sm-9">
								<div class="tab-content">
									{% for item in consumers %}
										<div class="tab-pane fade p-3 {% if forloop.first %}show active{% endif %}" id="consumer-{{ item.consumer.id }}">

											<div class="row">
												<div class="col"><h5 class="mb-0">{{ item.consumer }}</h5></div>
												<div class="col text-right"><a href="/consumer/{{ item.consumer.id }}" class="btn btn-secondary btn-sm">Meer info ></a></div>
											</div>
											<div class="row">
												<div class="col-lg-4"><label>Aanwending:</label></div>
												<div class="col-lg-8">
													{{ item.use.name }}
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4"><label>Toelichting aanwending:</label></div>
												<div class="col-lg-8">
													{{ item.use_text }}
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4"><label>Gevolg ontbreken:</label></div>
												<div class="col-lg-8">
													{% if item.consequence_missing %}
														{{ item.consequence_missing.name }}
													{% else %}
														-
													{% endif %}
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4"><label>Toelichting gevolg ontbreken:</label></div>
												<div class="col-lg-8">
													{{ item.consequence_missing_text }}
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4"><label>Grondslag / afname gebruik:</label></div>
												<div class="col-lg-8">
													{{ item.basis_use }}
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>

						{% else %}
						<div class="alert alert-warning">
							Geen afnemers voor gegeven <strong>{{ data.name }}</strong>.
						</div>
						{% endif%}
				</div>

				<div class="tab-pane fade show mt-4" id="leveringen" role="tabpanel" aria-labelledby="afnemers-tab">
						{% if consumers|length > 0 %}
						<div class="row">
							<div class="col-sm-3">
								<div class="sidebar">
									<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
										{% for item in consumers %}
											<a href="#delivery-{{ item.consumer.id }}" class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab">{{ item.consumer }}</a>
										{% endfor %}
									</div>
								</div>
							</div>
							<div class="col-sm-9">
								<div class="tab-content">
									{% for item in consumers %}
										<div class="tab-pane fade p-3 {% if forloop.first %}show active{% endif %}" id="delivery-{{ item.consumer.id }}">
											<div class="row">
												<div class="col">
													{% if item.consumer.deliveries.all|length > 0 %}
														{% include "includes/delivery_table.html" with data=item.consumer.deliveries.all only %}
													{% else %}
													-
													{% endif %}
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>

						{% else %}
						<div class="alert alert-warning">
							Geen afnemers voor gegeven <strong>{{ data.name }}</strong>.
						</div>
						{% endif%}
				</div>
		</div>



		<!-- modals -->
		<div class="modal" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModal" aria-hidden="true">
			<div class="modal-dialog modal--full" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Omschrijving</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="textarea textarea--full">{{ data.description }}</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal" id="waardenbereikModal" tabindex="-1" role="dialog" aria-labelledby="waardenbereikModal" aria-hidden="true">
			<div class="modal-dialog modal--full" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Waardenbereik</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
							<div class="textarea textarea--full">{{ data_info.value_range }}</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal" id="conditionsModal" tabindex="-1" role="dialog" aria-labelledby="conditionsModal" aria-hidden="true">
			<div class="modal-dialog modal--full" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Condities</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
							<div class="textarea textarea--full">{{ data_info.value_conditions }}</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModal" aria-hidden="true">
			<div class="modal-dialog modal--full" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Toelichting</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
							<div class="textarea textarea--full">{{ data_info.information }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>
{% endblock %}
