{% extends "base.html" %}
{% load static %}

{% block breadcrumb %}
<ul class="crumb">
	<li class="crumb__item"><a href="/" class="crumb__link">Home</a></li>
	<li class="crumb__item"><a href="/documents" class="crumb__link">Documenten</a></li>
</ul>
{% endblock %}

{% block content %}
<section class="section section--image">
	<div class="container"></div>
	<div class="section__bg-img" style="background-image: url({% static 'images/Documenten_hor1600px.jpg' %})"></div>
</section>
<article class="section">
	<div class="container">
		<h1>Documenten</h1>

		<p>Overzicht van documenten gesorteerd per jaar</p>

		<!-- waiting for publication
		<h5>2025</h5>
		<ul>
			<li><a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/gegevensspecificaties-aangifte-loonheffingen-2025" target="_blank">Gegevensspecificatie aangifte loonheffingen 2025</a></li>
			<li><a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/handboek-loonheffingen-2025" target="_blank">Handboek loonheffingen 2025</a></li>
		</ul>
		-->

		<h5>2024</h5>
		<ul>
			<li><a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/gegevensspecificaties-aangifte-loonheffingen-2024" target="_blank">Gegevensspecificatie aangifte loonheffingen 2024</a></li>
			<li><a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/handboek-loonheffingen-2024" target="_blank">Handboek loonheffingen 2024</a></li>
		</ul>

		<h5>2023</h5>
	
		<ul>
			<li><a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/gegevensspecificaties-aangifte-loonheffingen-2023" target="_blank">Gegevensspecificatie aangifte loonheffingen 2023</a></li>
			<li><a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/handboek-loonheffingen-2023" target="_blank">Handboek loonheffingen 2023</a></li>
		</ul>

		<h5>2022</h5>

		<ul>
			<li><a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/gegevensspecificaties-aangifte-loonheffingen-2022" target="_blank">Gegevensspecificatie aangifte loonheffingen 2022</a></li>
			<li><a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/handboek-loonheffingen-2022" target="_blank">Handboek loonheffingen 2022</a></li>
		</ul>

		<h5>2021</h5>

		<ul>
			<li><a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/gegevensspecificaties-aangifte-loonheffingen-2021" target="_blank">Gegevensspecificatie aangifte loonheffingen 2021</a></li>
			<li><a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/handboek-loonheffingen-2021" target="_blank">Handboek loonheffingen 2021</a></li>
		</ul>

		<h5>2020</h5>

		<ul>
			<li><a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/gegevensspecificaties-aangifte-loonheffingen-2020" target="_blank">Gegevensspecificatie aangifte loonheffingen 2021</a></li>
			<li><a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/handboek-loonheffingen-2020" target="_blank">Handboek loonheffingen 2020</a></li>
		</ul>

		<h5>2019</h5>

		<ul>
			<li><a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/gegevensspecificaties-aangifte-loonheffingen-2019" target="_blank">Gegevensspecificatie aangifte loonheffingen 2019</a></li>
			<li><a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/handboek-loonheffingen-2019" target="_blank">Handboek loonheffingen 2019</a></li>
		</ul>

		<h5>2018</h5>

		<ul>
			<li><a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/gegevensspecificaties-aangifte-loonheffingen-2018" target="_blank">Gegevensspecificatie aangifte loonheffingen 2018</a></li>
			<li><a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/handboek-loonheffingen-2018" target="_blank">Handboek loonheffingen 2018</a></li>
		</ul>

		<h5>2017</h5>

		<ul>
			<li><a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/gegevensspecificaties-aangifte-loonheffingen-2017" target="_blank">Gegevensspecificatie aangifte loonheffingen 2017</a></li>
			<li><a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/handboek-loonheffingen-2017" target="_blank">Handboek loonheffingen 2017</a></li>
		</ul>
	</div>
</article>
{% endblock %}
