{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="section section--image">
	<div class="container">

	</div>
	<div class="section__bg-img" style="background-image: url({% static 'images/home-header-bg-glazen.jpg' %})"></div>
</section>
<section class="section section--navigation pb-0">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<a href="/data" class="nav-block">
					<h2 class="nav-block__title">Gegevens</h2>
					<p class="nav-block__description">Overzicht van gegevens</p>
				</a>
			</div>
			<div class="col-sm-4">
				<a href="/consumer" class="nav-block">
					<h2 class="nav-block__title">Afnemers</h2>
					<p class="nav-block__description">Overzicht afnemers van gegevens</p>
				</a>
			</div>
			<div class="col-sm-4">
				<a href="/documents" class="nav-block">
					<h2 class="nav-block__title">Documenten</h2>
					<p class="nav-block__description">Overzicht van documenten</p>
				</a>
			</div>
			<div class="col-sm-4">
				<a href="/rules" class="nav-block">
					<h2 class="nav-block__title">Spelregels</h2>
					<p class="nav-block__description">Spelregels voor het gebruik van Database Gegevensbelang</p>
				</a>
			</div>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<h2>Database gegevensbelang</h2>
		<p>De Database Gegevensbelang heeft als doel om een inzicht te geven over het belang, nut en noodzaak, van alle loonaangifte-attributen. Primair doel van dit overzicht is om er voor te zorgen dat de medewerkers van de Belastingdienst die de contacten onderhouden met de inhoudingsplichtigen, intermediairs en software­ontwikkelaars, goed inzicht hebben in het belang van de loonaangifte-attributen en adequaat kunnen inspelen op vragen die hen worden voorgelegd maar ook wat de effecten voor de burgers en de samenleving zijn als de gegevens niet, niet juist, of niet op tijd worden aangeleverd. Te denken valt daarbij aan: De werknemer krijgt problemen m.b.t. bepaalde rechten sociale zekerheid of bij de pensioenopbouw van de werknemer gaat iets verkeerd. Het Centraal Planbureau kan geen inkomensplaatjes samenstellen of het heeft gevolgen bij zorg/huur-toeslag (denk aan naheffingen) e.d.</p>
		<p>Met het simpel activeren van de hyperlink ziet u informatie welke gegevens worden beheerd. Per gegeven ziet u wie de afnemer is en wat deze er mee doet zodat u weet waarom en waarvoor dat specifieke gegeven wordt uitgevraagd.</p>
	</div>
</section>
{% endblock %}

{% block footer %}
{% endblock %}
