{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block breadcrumb %}
<ul class="crumb">
	<li class="crumb__item"><a href="/" class="crumb__link">Home</a></li>
	<li class="crumb__item"><a href="/consumer" class="crumb__link">Afnemers</a></li>
	<li class="crumb__item is-active"><a href="{{ request.get_full_path }}" class="crumb__link">{{ consumer.name }}</a></li>
</ul>
{% endblock %}

{% block content %}
<article class="section">
	<div class="container">

		<div class="row">
			<div class="col-sm-12">
				<h1>
					Beheer {{ consumer.name}}
				</h1>

				<p>In deze omgeving kunt u gegevens wijzigen van afnemer {{ consumer.name }}</p>

				{% include "includes/manage_menu.html" %}

				<div class="table-responsive">
					<p>Overzicht van afgenomen gegevens: klik op "bewerken" om de details te bekijken en/of aan te passen.</p>

					<table class="table">
					<thead>
						<tr>
							<th scope="col">Gegeven</th>
							<th scope="col">Aanwending</th>
							<th scope="col" colspan=2>Gevolg ontbreken</th>
						</tr>
					</thead>
					<tbody>
					{% for item in data %}
						<tr class="{% if item.use.id == 99 %}missing{% endif %}">
							<td scope="row">{{ item.data.name }}</td>
							<td>{{ item.use.name }}</td>
							<td>{{ item.consequence_missing.name }}</td>
							<td><a href="{% url 'manage_consumer_data_detail' consumer.id item.id %}" class="btn btn-outline-primary btn-sm">bewerken</button></td>
						</tr>
					{% endfor %}
					</tbody>
					</table>
				</div>


			</div>
		</div>

	</div>
</article>
{% endblock%}
