{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block breadcrumb %}
<ul class="crumb">
	<li class="crumb__item"><a href="/" class="crumb__link">Home</a></li>
	<li class="crumb__item"><a href="/consumer" class="crumb__link">Afnemers</a></li>
	<li class="crumb__item is-active"><a href="{{ request.get_full_path }}" class="crumb__link">{{ consumer.name }}</a></li>
</ul>
{% endblock %}

{% block content %}
<article class="section">
	<div class="container">
		<form method="POST" enctype="multipart/form-data" novalidate>
			{% csrf_token %}

			{% for hidden_field in form.hidden_fields %}
				{{ hidden_field }}
			{% endfor %}

			<div class="row">
				<div class="col-sm-12">
					<h1>
						Beheer {{ consumer.name}}
					</h1>

					<p>In deze omgeving kunt u gegevens wijzigen van afnemer {{ consumer.name }}</p>

					{% include "includes/manage_menu.html" %}
                    
                    <p><a href="{% url 'manage_consumer_data' consumer.id %}">< overzicht</a></p>
                    
                    <h3>{{ data.data.name }}</h3>
                    
					{% if form.non_field_errors %}
						<div class="alert alert-danger" role="alert">
							{% for error in form.non_field_errors %}
								{{ error }}
							{% endfor %}
						</div>
					{% endif %}

					{% for field in form.visible_fields %}

						{% if field.name != 'logo' %}
							<div class="form-group">
								{{ field.label_tag }}

								{% if form.is_bound %}
									{% if field.errors %}
										{% render_field field class="form-control is-invalid" %}
										{% for error in field.errors %}
											<div class="invalid-feedback">
												{{ error }}
											</div>
										{% endfor %}
									{% else %}
										{% render_field field class="form-control is-valid" %}
									{% endif %}
								{% else %}
									{% render_field field class="form-control" %}
								{% endif %}

								{% if field.help_text %}
									<small class="form-text text-muted">{{ field.help_text }}</small>
								{% endif %}
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<button class="btn btn-primary" type="submit">Wijzigingen opslaan</button>
		</form>
	</div>
</article>
{% endblock%}
