{% extends "base.html" %}
{% load static %}

{% block breadcrumb %}
<ul class="crumb">
	<li class="crumb__item"><a href="/" class="crumb__link">Home</a></li>
	<li class="crumb__item"><a href="/documents" class="crumb__link">Documenten</a></li>
</ul>
{% endblock %}

{% block content %}
<section class="section section--image">
	<div class="container"></div>
	<div class="section__bg-img" style="background-image: url({% static 'images/Documenten_hor1600px.jpg' %})"></div>
</section>
<article class="section">
	<div class="container">
		<h1>Spelregels Database gegevensbelang</h1>

		<p>De Database Gegevensbelang bevat informatie die voor de professionals in de loonaangifteketen
			van belang zijn voor de uitoefening van hun functie.<br>
			In de Database Gegevensbelang zijn allereerst de werknemer-gegevens opgenomen uit de
			Gegevensspecificaties aangifte loonheffingen en het Handboek loonheffingen (te vinden onder
			documenten). Deze informatie is openbaar en is algemeen toegankelijk.</p>

		<p>Daarnaast is in de Database Gegevensbelang ook informatie opgenomen die afkomstig is van de
			afnemers van deze gegevens.</p>

		<h2>Informatie over afnemersgebruik niet delen met derden!</h2>

		<p>De informatie over het gebruik door afnemers is bedoeld voor de veldtoetsers en looninspecteurs
			van de Belastingdienst om inzicht te geven in de processen waarvoor een bepaald gegeven wordt
			gebruikt en het belang dat deze afnemers hebben bij het gebruik van dat gegeven. De afnemers
			hebben de informatie over hun gegevensgebruik alleen verstrekt voor gebruik van die informatie
			door medewerkers van de Belastingdienst. Deze informatie mag daarom niet worden gedeeld met
			derden.<br>
			Het is om die reden niet toegestaan de integrale informatie (al dan niet met toegang tot de DBGB)
			beschikbaar te stellen aan inhoudingsplichtige(n), adviseur(s), softwareontwikkelaar(s) e.d.<br>
			Het is uiteraard wel toegestaan de informatie in de applicatie te gebruiken in de
			maatwerkcommunicatie met externen.</p>

		<h2>Omissies, fouten, onvolkomenheden, wensen</h2>
		<p>Mocht u bij het gebruik van de Database Gegevensbelang zaken tegenkomen die niet kloppen of
			niet werken, schroom dan niet om dat te laten weten. Stuur een email naar <a href="mailto:jap.dejong@uwv.nl">jap.dejong@uwv.nl</a> en
			beschrijf zo exact mogelijk wat u heeft geconstateerd en waar dat terug te vinden is. Uw
			constatering zal op basis van uw beschrijving worden nagebootst. Wees daarom duidelijk in
			beschrijvingen (Gegevensveldnaam, Tabblad aanduiding, plek op de pagina, etc. etc.) waar u iets
			hebt geconstateerd.<br>
			Zodra het geconstateerde is nagebootst wordt onderzocht wat er gedaan moet worden om het door
			u geconstateerde probleem te herstellen. U zult daarbij over het vervolg op de hoogte worden
			gehouden.</p>

		<p>Wensen of verbetervoorstellen zijn ook welkom maar zullen worden verzameld en worden
			meegenomen in het jaarlijkse jaarovergang proces.</p>

		<p>Veel succes.</p>

		<p>J.A.P. de Jong<br>
			Team Database Gegevensbelang</p>
	</div>
</article>
{% endblock %}
